# Ignore build output directory
/build
/export
/out

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

/src/bin
/src/build
/src/GermaniumDetector
.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata

# Ignore vscode
/src/.vscode
.vscode
